@media screen and (max-width: 990px) {
    #navbarSupportedContent{
        /* display: block; */
        flex-basis: 78%;
    }
}

@media screen and (min-width: 1545px){
  #skills_section .icons img{
    width: 15rem;
  }
}
/* Media query */

@media screen and (max-width: 1085px) {
    #main_div {
      width: 100%;
    }
    .hero_container {
      /* width: 100%; */
      display: block;
    }
    #home_img {
      width: 100%;
      display: block;
    }
    #about_section {
      padding: 5% 5%;
    }
    .footer1{
      display: block;
      padding: 0;
      padding-right: 57px;
    }
  }
  
  @media screen and (max-width: 500px) {
    #home_img {
      width: 100%;
      /* display: block; */
    }
  }
  
  @media screen and (min-width: 1785px) {
    .hero_container h1 {
      font-size: 90px;
      font-weight: bold;
    }
    #p_margin {
      font-size: 25px;
      /* font-weight: bold; */
    }
    #about_section h2 {
      font-size: 42px;
    }
    .about1 h3 {
      font-size: 35px;
    }
    #icon {
      width: 400px;
      height: 400px;
    }
  }
  
  @media screen and (max-width: 605px) {
    .home_left {
      padding: 3rem;
    }
  }
  
  @media screen and (max-width: 375px) {
    .home_right {
      width: min-content;
    }
    .home_left {
      margin: -1rem;
    }
  }
  
  @media screen and (max-width: 765px) {
    .about2 {
      display: grid;
    }
    .home_left {
      text-align: center;
    }
    .container.footer_style{
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 921px) {
    .home_left {
      text-align: center;
    }
  }
  
  @media screen and (max-width: 500px) {
    .about1 {
      text-align: center;
    }
  }
  
  @media screen and (max-width: 845px) {
    .footer1{
      padding: 4%;
    }
  }
  @media screen and (max-width: 695px) {
    .container.footer_style{
      display: block;
      text-align: center;
    }
  }
  @media screen and (max-width: 335px) {
    .hero_container h1{
      font-size: 2rem;
    }
  }
