@media screen and (max-width: 990px) {
    #navbarSupportedContent{
        /* display: block; */
        flex-basis: 78%;
    }
}

@media screen and (min-width: 1545px){
  #skills_section .icons img{
    width: 15rem;
  }
}
/* Media query */

@media screen and (max-width: 1085px) {
    #main_div {
      width: 100%;
    }
    .hero_container {
      /* width: 100%; */
      display: block;
    }
    #home_img {
      width: 100%;
      display: block;
    }
  }
  
  @media screen and (max-width: 500px) {
    #home_img {
      width: 100%;
      /* display: block; */
    }
  }
  
  @media screen and (min-width: 1785px) {
    .hero_container h1 {
      font-size: 90px;
      font-weight: bold;
    }
  }
  
  @media screen and (max-width: 605px) {
    .home_left {
      padding: 3rem;
    }
  }
  
  @media screen and (max-width: 375px) {
    .home_right {
      width: min-content;
    }
    .home_left {
      margin: -1rem;
    }
  }
  
  @media screen and (max-width: 765px) {
    .home_left {
      text-align: center;
    }
  }
  
  @media screen and (max-width: 921px) {
    .home_left {
      text-align: center;
    }
  }

  @media screen and (max-width: 335px) {
    .hero_container h1{
      font-size: 2rem;
    }
  }
